---
layout: default
---
## Throb Site
# hello welcome to throb site :p

## links <3
[Spotify](https://open.spotify.com/artist/0ZtlFgMn5jOPhUpHfXC0Ns)

[apple music](https://music.apple.com/ca/artist/throb/1482863966)

[soundcloud](https://soundcloud.com/onetwothreethrob)

[merch](https://throb-co.myspreadshop.ca/)

[instagram](https://www.instagram.com/onetwothreethrob/)

[YouTube](https://www.youtube.com/channel/UCIqeLWr5PYwuJgT2OC4qORg)

[throb discord :0](https://discord.com/invite/HymmXEp)

[twitter](https://twitter.com/123throb)

[SoCCeRpLeX™](https://open.spotify.com/artist/3U0FGmeGTI5CRDmvJeZ1qu)
![bennie head sticker 7](https://user-images.githubusercontent.com/94776730/142754039-4a9dd593-0890-4fa0-9634-6e74da775582.png)
